.fixed{
    position:fixed;
    top:0px;
}


#banner {
    background-image: url("https://yenting0715.github.io/Web/assets/home_banner.png");
    height: 900px;
}

#nav {
    background-color:darksalmon;
    height: 100px;
}

#first {
    background-image: url("https://yenting0715.github.io/Web/assets/home-1.png");
    /* min-height: 1200px; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 100vh;
    /* filter: grayscale(100%); */
}

#second {
    background-image: url("https://yenting0715.github.io/Web/assets/home-2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#third {
    background-image: url("https://github.com/Yenting0715/Yenting0715.github.io/blob/main/Web/assets/home-2.png");
    /* min-height: 1200px; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    filter: grayscale(100%);
    /* background-size: cover; */
}


#five {
    background-image: url("https://github.com/Yenting0715/Yenting0715.github.io/blob/main/Web/assets/home-3.png");
    /* min-height: 1200px; */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    height: 300vh;
    /* filter: grayscale(100%); */
    /* background-size: cover; */
}
